<section class="loginFormSection">
    <button class="loginToggleBtn">Log In</button>
    <button class="regToggleBtn">Register</button>
    <form id="loginForm" class="hidden">
        <h3>Log In</h3>
        <div class="form-group">
            <label for="username">Username</label>
            <input id='username' type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id='password' type="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
    <form id="registerForm" class="hidden">
        <h3>Register</h3>
        <div class="form-group">
            <label for="registerUsername">Username</label>
            <input id='registerUsername' type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="registerPassword">Password</label>
            <input id='registerPassword' type="password" class="form-control">
        </div>
        <div class="form-group">
            <label for="retypePassword">Re-Type Password</label>
            <input id='retypePassword' type="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</section>

<script src="/js/login.js"></script>