:root {
    --primary-color: #211aeb;
    --background-color: #000000;
    --text-color: white;
}

* {
    color: white;
}

body {
    background: linear-gradient(rgba(34, 32, 32, 0.835), rgba(192, 30, 30, 0.835));
}

.hidden {
    display: none;
}

p {
    margin: 0;
}

header {
    background: linear-gradient(var(--background-color), var(--background-color));
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
    text-align: center;
}

header * {
    color: var(--text-color);
    text-align: center;
}

header nav * {
    margin: 15px;
}

button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 14px;
}

h5 {
    font-weight: 400;
}

input {
    background-color: var(--background-color);
}

#loginForm {
    margin-bottom: 20px
}

#registerForm,
#loginForm {
    display: none;
}

#registerForm input,
#loginForm input {
    color: var(--background-color);
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}

.postContainer {
    margin-bottom: 30px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
}

.postTitle {
    font-size: 20px;
    margin-bottom: 10px;
}

.postTitle span {
    font-size: 15px;
}

.postContent {
    border-top: solid 2px var(--text-color);
    border-bottom: solid 2px var(--text-color);
    padding: 5px 15px;
    text-align: center;
    font-size: 50px;
}

.postContent p {
    font-size: 50px;
}

.commentStyle {
    border: 1px solid var(--text-color);
    padding: 10px 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    margin-bottom: 20px;
    border-radius: 5px;
}

.commentText {
    font-size: 20px;
    margin-bottom: 5px;
}

.commentInfo {
    font-size: 12px;
}

.inputBox {
    width: 100%;
}

.commentboxStyle {
    display: flex;
    justify-content: center;
}

.modification {
    border-top: solid 2px var(--text-color);
    border-bottom: solid 2px var(--text-color);
    padding: 5px 15px;
    text-align: center;
    font-size: 20px;
}

.addBtnSection {
    text-align: center;
}

.loginFormSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: var(--background-color);
}

input {
    background-color: var(--background-color);
}